* {
    margin: 0;
    padding: 0;
    font-family: Raleway;    
    box-sizing: border-box;
    
}
/* COMEÇO HEADER NAV */

.headcontainer {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 20em;
    overflow: hidden;
    
    
}

.navlink {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 40em;
    margin-left: 17em;
    margin-top: 1.5em;
    justify-content: space-between;
    align-items: center;
    
}
.navlink a {
    display: flex;
    flex-direction: column;
    position: relative;    
    text-decoration: none;
    margin: 4px;
    font-size: 1.3em;    
    transition: all 0.2s ease;
    cursor: pointer;

}   
.navlink a:link { color: black;}
.navlink a:active {color: black;}
.navlink a:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.20);
    text-decoration: overline underline 2px rgb(87, 161, 223);    
}
.navlink a:visited {color: black;}

.navbuton {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: rgb(87, 161, 223);
    padding: 0.8em;
    margin-left: 67em;
    top: -2.5em;    
    width: 10em;
    justify-content: center;
    align-items: center;
           
}
.navbuton a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer
}
.navbuton a:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.08);
  
}


.navimg {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: 30em;
    width: 15em;
    top: -3em;
    
        
}
.navimg img {
    display: flex;
    position: relative;
    height: 20em;
    width: 20em;
}

/* FINAL HEADER NAV */

/* COMEÇO MAIN CONTEUDO */

.maincontainer {
    display: flex;
    position: relative;
    height: 500px;
    width: 100%;
    flex-wrap: wrap;
    
        
}
.maincontainer img {
    position: relative;
    height: 100%;
    width: 100%;
    
} 
.backcover {
    display: flex;
    position: relative;
    background: rgb(227,214,63);
    background: linear-gradient(0deg, rgba(227,214,63,0.7175245098039216) 0%, rgba(94,92,92,0.7147233893557423) 17%, rgba(73,65,65,0.7287289915966386) 86%);
    margin-top: -503px;
    margin-right: 55%;
    height: 500px;
    flex-wrap: nowrap;
}
.backcover1 {
    display: flex;    
    position: relative;
    
}
.backcover1 h2 {
    color: white;
    font-size: 34px;
    width: 360px;    
    margin-left: 35px;
    margin-top: 200px;
    word-spacing: 2px;

}

.backcover1 span {
    
    font-weight: lighter;
    margin-left: 7px;
    font-size: 35px;
}
.backcover1 p {
    display: flex;
    position: relative;
    height: 240px;
    width: 385px;
    margin-left: -358px;
    margin-top: 260px;
    color: white;
    font-size: 18px;
    line-height: 25px; 
   

}
.buton1 {
    display: flex;
    position: relative;
    height: max-content;
    width: max-content;
    padding: 10px;
    top: 420px;
    right: 384px;
    background: rgb(195,27,27);
    background: linear-gradient(261deg, rgba(195,27,27,1) 28%, rgba(115,30,30,1) 54%);
    
}
.buton1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer
}
.buton1 a:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
    
    
}
.buton2 {
    display: flex;
    position: relative;
    height: max-content;
    width: max-content;
    padding: 10px;
    top: 420px;
    right: 378px;
    
    
}
.buton2 a {
    text-decoration: none;
    color: white;
    transition: all 0.2s;
    cursor: pointer;
    
    
}
.buton2 a:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
    
}

/*PARTE DO MEIO IMGS E DESCRIÇÃO*/

/*COLUNA ESQUERDA */

.containergeral {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 41em;
    overflow: hidden;

}

.containeresquerdo {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 41em;
    width: 23em;
    overflow: hidden;
    
   
}
.sobrecontabil {
    display: flex;
    position: relative;
    flex-direction: column;  
    height: 41em;
    
}
.sobrecontabil p {
    font-size: 16px;
    height: 13em;
    margin-left: 3em;
    margin-top: 7em;
    
}

.sobrecontabil span {
    font-size: 2em;
    font-weight: 900;
    color: rgba(115,30,30,1);
    
}

.faleconta {
    display: flex;
    position: relative;
    margin-left: 3.4em;
    margin-top: 1em;
    width: 11em;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(261deg, rgba(195,27,27,1) 28%, rgba(115,30,30,1) 54%);
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;
    color: white;
    transition: all 0.2s;
    cursor: pointer;
    
}
.saibabuton  {
    text-decoration: none;
    color: black;
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 15em;
    bottom: 2.3em;
    width: 11em;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
   
    
}
.sobrecontabil a:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.10);
}
#contabilimg1 {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 18em;
    width: 23em;
    bottom: 13px;
    left: 3em;
}
/*COLUNA ESQUERDA FIM*/

/*COMEÇO COLUNA DO MEIO*/
.containercentral {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 29em;
    margin-top: 5em;
      
}
.containercentral img {
    height: 29em;
    width: 23em;
}
.containerdireito {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 55em;
    margin-top: 8em;
}
.containerdireito img {
    height: 32em;
    width: 23em;
} 

.podemosajudar {
    text-align: center;
    margin: 5em;

}
.podemosajudar p {
    font-weight: bold;
    color: darkgray;
}
.podemosajudar h1 {
    color: rgba(115,30,30,1) ;
}

/*COMEÇO PARTE DE SERVIÇOS */

.containerservicos {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 32em;
    gap: 5em;
}
.serv1 {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 17em;
    width: 20em;
    margin-top: 7em;
    margin-left: 1.5em;
}
.serv1 img {
    height: 15em;
    width: 15em;
    transition: all 0.2s;
    cursor: pointer;
    

}
.serv1 a {
    text-decoration: none;
    color: rgb(110, 109, 109);
    transition: all 0.2s;
    cursor: pointer;
}
.serv1 a:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
}

.serv2 {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 17em;
    width: 19em;
    margin-top: 7em;

}
.serv2 img {
    height: 15em;
    width: 15em;
    transition: all 0.2s;
    cursor: pointer;
}
.serv2 a {
    text-decoration: none;
    color: rgb(110, 109, 109);
    transition: all 0.2s;
    cursor: pointer;
}
.serv2 a:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
}

.serv3 {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 17em;
    width: 19em;
    margin-top: 7em;

}
.serv3 img {
    height: 15em;
    width: 15em;
    transition: all 0.2s;
    cursor: pointer;
} 
.serv3 a {
    text-decoration: none;
    color: rgb(110, 109, 109);
    transition: all 0.2s;
    cursor: pointer;
} 
.serv3 a:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
}          

.serv4 {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 17em;
    width: 19em;
    margin-top: 7em;
    margin-right: 1.5em;
    
}
.serv4 img {
    height: 15em;
    width: 15em;
    transition: all 0.2s;
    cursor: pointer;
} 
.serv4 a {
    text-decoration: none;
    color: rgb(110, 109, 109);
    transition: all 0.2s;
    cursor: pointer;
} 
.serv4 a:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
}
.todosserv {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    height: 3em; 
    top: 26em;
    left: -50em;
    
}
.todosserv a {
    text-align: center;
    text-decoration: none;
    align-items: center;
    color: black;
    width: 11em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    top:0;
    height: 2.5em;
    padding-top: 10px;
    border-right-style: outset;  
    border-bottom-style: outset;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    
}
.todosserv a:hover {
    top:-4px;box-shadow:3px 8px 10px rgb(238, 215, 83);
    height: 3em;
    color: white;
    background-color:rgb(87, 161, 223);
    
}

/*FINAL PARTE DE SERVIÇOS*/

/*COMEÇO PARTE ENTRE EM CONTATO*/

.cttcontainergeral {
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    max-width: 100%;
    height: 34em;
    background-color: rgb(78, 75, 75);

}
.cttesquerdo {
    position: relative;
    flex-direction: column;
    width: 50%;
    background-color: rgb(192, 189, 189);
    
}
.cttesquerdo p {
    margin-top: 7em;
    margin-left: 4.7em;
    color: white;
    font-weight: 15px;
    font-size: 25px;
    line-height: 1.5em;
}
.cttesquerdo h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    margin-left: 3.7em;
    color: white;
}


.cttdireitogeral {
    position: relative;
    flex-direction: column;
    width: 50%;

}
.cttdireito1 {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 7em;
    margin-left: 5em;
    width: fit-content;
    height: 2.3em;
    
    
}
.cttdireito1 input {
    width: 18em;
    height: 2.4em;
    padding-top: 1.3em;
    margin-right: 1em;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid white;
    border-left: none;  
    color: white; 

}

.cttdireito2 {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 1em;
    margin-left: 5em;
    width: fit-content;
    height: 2.3em;
    
}
.cttdireito2 input {
    width: 18em;
    height: 2.4em;
    padding-top: 1.3em;
    margin-right: 1em;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid white;
    border-left: none;  
    color: white; 
}    
#ctttext {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 4em;
    margin-left: -38em;
    width: 37em;

}

/*FIM PARTE ENTRE EM CONTATO*/

/*LINKSUTEIS*/

.linkcontainer {
    display: flex;
    position: relative;
    flex-direction: row;
    max-width: 100%;
    height: 30em;
    overflow: hidden;
}
.linkcontainer a {
    text-decoration: none;
    color: black;
    
}

.link1 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 17%;
    overflow: hidden;
    

}
.link1 p {
    color: darkgrey;
    font-size: 19px;
    margin-top: 7em;
    margin-left: 2em;
    

}
.link1 h2 {
    margin-left: 1.5em;
    margin-top: 6px;
    color: brown;
}
.link1 img  {
    margin-left: 2em;
    margin-top: 4em;
    width: 11em;
    height: 10em;
    transition: all 0.2s;
    cursor: pointer;
}
.link1  img:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
}


.link2 {
    width: 17%;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 17%;
    overflow: hidden;
    

}
.link2 img {
    margin-top: 16em;
    margin-left: 2em;
    width: 11em;
    height: 10em;
    transition: all 0.2s;
    cursor: pointer;
}
.link2 img:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
}

.link3 {
    width: 17%;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 17%;
    overflow: hidden;
    

}
.link3 img {
    margin-top: 16em;
    margin-left: 2em;
    width: 11em;
    height: 10em;
    transition: all 0.2s;
    cursor: pointer;
}
.link3 img:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
}

.link4 {
    width: 17%;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 17%;
    overflow: hidden;
    

}
.link4 img {
    margin-top: 16em;
    margin-left: 2em;
    width: 11em;
    height: 10em;
    transition: all 0.2s;
    cursor: pointer;
}
.link4 img:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
}

.link5 {
    width: 16%;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 17%;
    overflow: hidden;
    

}
.link5 img {
    margin-top: 16em;
    margin-left: 2em;
    width: 10em;
    height: 10em;
    transition: all 0.2s;
    cursor: pointer;
}
.link5 img:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
}
.link6 {
    width: 16%;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 17%;
    overflow: hidden;
    

}
.link6 img {
    margin-top: 16em;
    margin-left: 1em;
    width: 11em;
    height: 10em;
    transition: all 0.2s;
    cursor: pointer;
}
.link6 img:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.05);
}

/*FOOTER*/

.footercontainer {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 35em;
    background-color: lightgray;
    overflow: hidden;

}
.footerlft {
    width: 33%;
    height: 100%;
    overflow: hidden;
    flex-wrap: nowrap;
}
.footerlft img {
    margin-left: 3em;
    margin-top: 2em;
}
.footerlft p {
    color: rgba(115,30,30,1);
    font-weight: bold;
    margin-left: 4em;
    line-height: 25px;
}

.footerctr {
    width: 35%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}
.footerctr h4 {
    margin-left: 3em;
    margin-top: 17em;
    color: rgba(115,30,30,1);

}
.footerctr p {
    margin-left: 3em;
    margin-top: 2em;
    line-height: 6px;
    color: rgba(115,30,30,1);
}

.footerup {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
    height: 40%;
    width: 25.3em;
}
.footerrgt h3 {
    margin-top: 10em;
    margin-left: 2em;
    color: rgba(115,30,30,1);
}
.footerdown {
    display: flex;
    position: relative;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: wrap;
    
}

.footerdown img {
    width: 3em;
    margin-left: 2.4em;
    margin-top: 1em;
    padding: 4px;
}
.footerdown a {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 25em;
}

.footerdown img:hover {
    -webkit-transform: scale(0.0);
    transform: scale(1.08);
    box-shadow: 5px 5px 5px 2px;
    border-radius: 10;
    background-color: rgb(238, 215, 83);
    
}    